.rests-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }
  
  .rests-container .rest, .rests-container .movieResults {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
    padding: 0 10px;
  }
  
  .movie .header, .movieResults .name, .movieResults .grade, .movieResults .stars, .movieResults .address {
    flex: 1 0 25%;
  }